[
  {
    "day": "Monday",
    "items": [
      {
        "from": "10:00",
        "to": "11:50",
        "name": "Programming",
        "type": "Lecture",
        "place": "1.39",
        "tutor": "Mr. Teacher"
      },
      {
        "from": "12:00",
        "to": "12:50",
        "name": "Programming",
        "type": "Exercises",
        "place": "1.38",
        "tutor": "Mr. Teacher"
      }
    ]
  },
  {
    "day": "Tuesday",
    "items": [
    ]
  },
  {
    "day": "Wednesday",
    "items": [
      {
        "from": "8:00",
        "to": "9:50",
        "name": "Math",
        "type": "Lecture",
        "place": "2.20",
        "tutor": "Another Teacher"
      }
    ]
  },
  {
    "day": "Thursday",
    "items": [
      {
        "from": "16:00",
        "to": "17:50",
        "name": "Math",
        "type": "Exercises",
        "place": "2.20",
        "tutor": "Another Teacher"
      },
    ]
  },
  {
    "day": "Friday",
    "items": [
    ]
  }
]
